.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.quiz {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.option {
  width: 48%;
  margin: 1%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(2, 122, 32);
  cursor: pointer;
}

.option:hover {
  background-color: rgb(2, 150, 39);
}

#score {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: none;
  margin-bottom: 15px;
}
